/* General stuff ----------------------------- */

html {
  height: 100%;
  font: 62.5%/1 "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  background: #f0f0f0;
  background-size: 75px;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  flex-direction: column;
}

#icons {
  user-select: none;
  border-radius: 50px;
  padding: 0 20px;
  margin: 0 40px;
  background-color: hsla(0, 0%, 0%, .02);
  box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, .1), 0 1px 2px hsla(0, 0%, 100%, .3);
}


/* Animated Icons using SVG with CSS masks */


/* Robot ---------------------------- */

i.robot {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/79/mask-icons-robot.svg);
  /* Fallback */
  background-position: 0 center, center;
  background-image: -webkit-radial-gradient( 50% 50%, 60% 80%, hsla(0, 100%, 50%, .7), hsla(0, 100%, 20%, .8) 60%, hsla(0, 100%, 10%, 1)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/79/mask-icons-metal.jpg);
  -webkit-mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/79/mask-icons-robot.svg), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/79/mask-icons-robot.svg);
  -webkit-mask-position: 0 0, -100px 13px;
  -webkit-mask-composite: source-over;
  transition: -webkit-mask-position .3s cubic-bezier(.65, .06, 1, .42);
}

i.robot:hover {
  -webkit-mask-position: 0 0, -100px 0px;
  transition: -webkit-mask-position .2s cubic-bezier(0, .40, .20, 1);
}

i.robot:active {
  -webkit-mask-position: 0 0, -107px 0px;
  transition: -webkit-mask-position .1s cubic-bezier(.44, .08, .10, 1);
  animation: robot-active .1s .2s cubic-bezier(.70, 0, .30, 1) infinite alternate;
}

@-webkit-keyframes robot-active {
  0% {
    -webkit-mask-position: 0 0, -107px 0px;
  }
  100% {
    -webkit-mask-position: 0 0, -93px 0px;
  }
}


/* Global Icons styles ---------------------------- */

i {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
  filter: drop-shadow( 0 1px 1px hsla(0, 0%, 100%, .5)) drop-shadow( 0 -6px 6px hsla(0, 0%, 100%, .5)) drop-shadow( 0 10px 10px hsla(0, 0%, 0%, .3));
  -webkit-mask-repeat: no-repeat;
}

i:active {
  transform: translateY(2px);
  filter: drop-shadow( 0 1px 1px hsla(0, 0%, 100%, .5)) drop-shadow( 0 -3px 6px hsla(0, 0%, 100%, .5)) drop-shadow( 0 5px 10px hsla(0, 0%, 0%, .3));
}
